
.App {
  text-align: center;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-logo{
  height: 125px;
  width: 250px;;
}

.navbar-nav{
  margin-left: 4rem;
}

.d-block{
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: 50% 0%;

}

/* Capa superior */

*{
    font-family: sans-serif;}

    .capa-sup{
margin-top: 1rem;
  display:grid;
   grid-template-columns: 50% 50%;
   padding:2rem 
}

    .capa-sup1{
  display:grid;
   grid-template-columns: 50% 50%;
 padding:3rem;

}

.card-sup1{
  margin:auto;
  width:90%;
   object-fit: cover;
   object-position: 50% 0%;
   border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
   
  }

.card-venus{
  margin:auto;
  width:50%;
   object-fit: cover;
    object-position: 50% 0%;
    border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);

}
    

    .card-text1{
      margin:3rem;
      margin-top: 5rem;
       text-align: center;
    }
  
    .card-text-end{
      margin:4rem;
      margin-top: 6rem;
      text-align: center;
  
    }
    .card-text-p{
      font-size: 20px;
      margin-top: 3rem;
    }



      /**************** SOCIAL BAR ***********************/

    .social-bar {
	position:fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-instagram {
  background: #3F60A5;
}
.icon-youtube {
	background: #E83028;
}


.icon:first-child {
	border-radius:  1rem 0 0;
}

.icon:last-child {
	border-radius:  0 0 1rem;
}

.icon:hover {
	padding-right: 4rem;
	border-radius: 1rem 0 1rem;

}

.card-title{
  font-weight: bold;
  margin-top: 2rem;;

}

.card-title2{
  font-weight: bold;
  margin-top:2rem;;
}


/********* Page2 **********/


    .capa-sup2{
  display:grid;
   grid-template-columns: 50% 50%;
 padding:3rem;

}

.card-sup2{
  margin:2rem;
  width:90%;
   object-fit: cover;
   object-position: 50% 0%;
   border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  
  }

  .card-sup-me{
    margin:2rem;
    margin-top: 7rem;
  width:90%;
  height: 300px;
   object-fit: cover;
   object-position: 50% 0%;
   border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  }

  .card-sup-me2{
    margin:2rem;
   width:90%;
   height: 300px;
   object-fit: cover;
   object-position: 50% 0%;
   border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  }



   .card-text-end2{
      margin:4rem;
      margin-top: 2rem;
      text-align: center;
  
    }
    .card-text-p2{
      font-size: 20px;
      margin-top: 2rem;
    }

       .card-textp2{
      margin:3rem;
       text-align: center;
    }


/************** Page 3 *****************/
.card-p3{
  margin:auto;
  width:40%;
   object-fit: cover;
    object-position: 50% 0%;
    border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.card-pp3{
  margin:auto;
    width:70%;
    height: 100%;
   object-fit: cover;
    object-position: 50% 0%;
    border-radius: 6px;
   box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

/********** Page 4 ************/

.card-pc{
  margin-left: 14rem;
  width: 80%;
  height: auto;
  display:grid;
  align-items: center;
  grid-template-columns: 50% 50%;

}

.card-pc-nep{
  margin-left: 10rem;
  width: 80%;
  height: auto;
  display:grid;
  align-items: center;
  grid-template-columns: 50% 50%;

}